<div class="side_up">
  <a href="#" class="user_name">Hosaka</a>
  <a href="#" class="chat_create">チャットを作成する</a>
</div>
<div class="side_bottom">
  <div class="room">
    <div class="room_name">
      <a href="#">techroom1</a> 
    </div>
  </div>
  <div class="room">
    <div class="room_name">
      <a href="#">techroom2</a>
    </div>
  </div> 
</div>