.wrapper{
  display: flex;
}

.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side_up{
  height: 100px;
  padding: 0 20px;
}

.side_bottom{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.main_content{
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.main_up{
  height: 100px;
  padding: 0 40px;
}

.main_middle{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.main_bottom{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}